.component-detail-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.component-info {
  width: 60%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.component-info h4 {
  font-weight: bold;
  color: #333333;
  font-family: sans-serif;
}

.relations-container {
  width: 35%;
  margin-left: 20px;
}

.relations-paper {
  padding: 20px;
  background-color: #2e2e2e;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.graph-container {
  height: 400px;
  background-color: white;
  border-radius: 10px;
}

.MuiButton-root {
  margin: 5px;
  background-color: #1976d2;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.MuiButton-root:hover {
  background-color: #145a86;
}

a {
  text-decoration: none;
  color: #1976d2;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

table {
  background-color: #ffffff;
  border-radius: 10px;
}

.MuiTableCell-root {
  color: #333333;
  font-weight: bold;
  font-family: sans-serif;
}

.MuiPaper-root {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.component-link {
  color: #1976d2;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  font-family: sans-serif;
}

.component-link:hover {
  color: #145a86;
  text-decoration: underline;
}

.MuiButton-root {
  transition: background-color 0.3s;
}

.MuiButton-root:hover {
  background-color: #145a86;
}

.MuiTableRow-root:hover {
  background-color: #f0f0f0;
}

.relations-paper {
  transition: box-shadow 0.3s;
}

.relations-paper:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #460074;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
}

.component-info {
  font-size: 18px;
  font-family: sans-serif;
}

.component-name {
  font-size: 20px;
  font-family: sans-serif;
  margin: 0;
}

.metadata {
  text-align: right;
  font-family: sans-serif;
}

.owner,
.lifecycle {
  display: block;
  font-size: 15px;
  font-family: sans-serif;
}
